.footer-container {
  position: relative;
}
.footer-container > hr {
  border: 1px solid var(--orange);
}
.footer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  height: 20rem;
  margin-top: -5rem;
}
.social-link {
  display: flex;
  gap: 4rem;
}
.social-link > img {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
.logo-f {
  margin-top: -4rem;
  margin-bottom: 6rem;
}
.logo-f > img {
  width: 10rem;
  cursor: pointer;
  margin-left: 43rem;
}
